<p class="my-8 max-w-5xl mx-auto text-3xl font-bold">Formát kurzov</p>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-5xl mx-auto">

    <div class="block p-6 w-64 rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:bg-gray-700">
        <div class="flex">
            <i class="fa-solid fa-fire fa-xl py-4 text-transparent bg-clip-text bg-gradient-to-r from-yellow-600 to-red-600"></i>
            <h5 class="ml-3 mb-2 text-2xl font-bold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-yellow-600 to-red-600">Kurz Grind</h5>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-graduation-cap fa-lg my-2.5 mr-4 text-gray-400"></i>
            <p class="font-normal text-gray-400">10 lekcií</p>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-calendar-days fa-lg my-2.5 mr-6 text-gray-400"></i>
            <p class="font-normal text-gray-400">1 lekcia týždenne</p>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-hourglass-half fa-lg my-2.5 mr-7 text-gray-400"></i>
            <p class="font-normal text-gray-400">60 min</p>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-coins fa-lg my-2.5 mr-6 text-gray-400"></i>
            <div class="flex">
                <p class="font-normal text-gray-400 line-through mr-2.5">100 €</p>
                <p class="font-bold text-gray-400">79 €</p>
            </div>
        </div>
        {{ with .Site.Params.homepage.contact }}
        <div class="flex justify-center mt-4">
            <a href="{{ . }}" class="px-6 py-4 rounded-full font-semibold text-lg bg-black text-white hover:bg-gray-800 transition-colors">Prihlásiť sa</a>
        </div>
        {{ end }}
    </div>

    <div class="block p-6 w-64 rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:bg-gray-700">
        <div class="flex">
            <i class="fa-solid fa-bolt fa-xl py-4 text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"></i>
            <h5 class="ml-3 mb-2 text-2xl font-bold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">Kurz Intense</h5>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-graduation-cap fa-lg my-2.5 mr-4 text-gray-400"></i>
            <p class="font-normal text-gray-400">1 lekcia</p>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-calendar-days fa-lg my-2.5 mr-6 text-gray-400"></i>
            <p class="font-normal text-gray-400">sobota / nedeľa</p>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-hourglass-half fa-lg my-2.5 mr-7 text-gray-400"></i>
            <p class="font-normal text-gray-400">4h + prestávky</p>
        </div>
        <div class="flex my-2.5">
            <i class="fa-solid fa-coins fa-lg my-2.5 mr-6 text-gray-400"></i>
            <div class="flex">
                <p class="font-normal text-gray-400 line-through mr-2.5">60 €</p>
                <p class="font-bold text-gray-400">39 €</p>
            </div>
        </div>
        {{ with .Site.Params.homepage.contact }}
        <div class="flex justify-center mt-4">
            <a href="{{ . }}" class="px-6 py-4 rounded-full font-semibold text-lg bg-black text-white hover:bg-gray-800 transition-colors">Prihlásiť sa</a>
        </div>
        {{ end }}
    </div>

    <div class="block p-6 w-64 rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:bg-gray-700">
        <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-transparent text-gray-500">Pripravujeme</h5>
        <p class="text-9xl font-bold text-center mt-12 text-transparent text-gray-500">?</p>
    </div>
</div>