{{ define "main" }}
<article class="mb-16 max-w-5xl mx-auto px-4 prose lg:prose-lg prose-invert">

  <div class="w-48 h-48 rounded-full mb-6 bg-red-100 mx-auto">
    <img src="{{ .Params.image }}" class="max-h-48">
  </div>

  <h1 class="font-bold text-3xl text-center text-white">{{ .Title }}</h1>

  <p class="font-light text-justify text-gray-300">
    <span class="font-bold">Spawn.codes</span>
    je
    <span class="font-semibold text-lg text-slate-800 text-center max-w-sm mx-1 rounded-md px-2 py-1 bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 shadow-md shadow-indigo-600">start-up projekt 🌠</span>
    dvoch študentov vysokej školy. Cieľom je mladým ľuďom ukázať
    <span class="font-bold">moderné využitie</span>
    programovacích zručností. Našimi kurzami chceme ponúknuť
    <span class="font-semibold text-lg text-slate-800 text-center max-w-sm mx-1 rounded-md px-2 py-1 bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 shadow-md shadow-indigo-600">vedomosti 🧠</span>
    , ktoré sa na bežných školách neučia. A to aj vďaka tomu, že naši mladí lektori majú k záujmom detí najbližšie. Chceme vzbudiť povedomie, že
    <span class="font-bold">programovanie nie je zložité</span>
    a predstaviť množstvo zaujímavých odborov a odvetví informatiky.
  </p>

  <h2>Spoznajte našich lektorov</h2>

  <img src="/simon.png" class="w-48 h-48 rounded-full bg-green-100 float-left mr-20 mb-2 p-6" />

  <h3>Šimon</h3>
  <p class="font-light text-justify text-gray-300">
    Šimon má 20 rokov a je
    <span class="font-semibold text-lg text-slate-800 text-center max-w-sm mx-1 rounded-md px-2 py-1 bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 shadow-md shadow-indigo-600">zakladateľom 🧱</span>
    Spawn.codes. Najradšej pracuje na tvorivých projektoch ako vývoj hier, webstránky, ale aj umelá inteligencia. Má široké 
    <span class="font-semibold text-lg text-slate-800 text-center max-w-sm mx-1 rounded-md px-2 py-1 bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 shadow-md shadow-indigo-600">skúsenosti 🧠</span>
    s novinkami digitálneho sveta. Momentálne sa venuje fungovaniu a lektorovaniu na Spawn.codes.
  </p>

  <img src="/monika.png" class="w-48 h-48 rounded-full bg-blue-100 float-right ml-20 mb-2 p-6" />

  <h3>Monika</h3>
  <p class="font-light text-justify text-gray-300">
    Monika má 20 rokov a je pionierka 
    <span class="font-semibold text-lg text-slate-800 text-center max-w-sm mx-1 rounded-md px-2 py-1 bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100 shadow-md shadow-indigo-600">meta-programovania 🧊</span>
    . Momentálne pracuje v medzinárodnej spoločnosti na vývoji virtuálnej reality. Má skúsenosti s programovaním vo viacerých jazykoch, ale jej odbor sú webové technológie a spomínaná virtuálna realita.
  </p>

  {{ .Content }}
</article>
{{ end }}
