{{ define "main" }}
<article class="max-w-5xl mx-auto px-4">
  <h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
  <div class="text-gray-600">{{ .Content }}</div>

  <div class="card-list">
    {{ range .Data.Pages -}}
    <a class="block my-8 relative" href="{{ .RelPermalink }}">
      {{ $img := .Params.featured_image }}
      {{ $title := .Params.title }}
      {{ with $img }}
      <img class="rounded-lg shadow-md shadow-slate-700 max-w-full mb-4" src="{{ . }}" alt="{{ $title }}" />
      {{ end }}
      <h2 class="absolute text-md md:text-xl font-semibold top-1/3 md:top-1/3 left-10 text-{{ .Params.text_color }}">{{ $title }}</h2>
      <div class="absolute invisible md:visible font-light text-{{ .Params.text_color }} top-2/4 left-10 max-w-md">
        {{ .Summary }}
      </div>
    </a>
    {{ end -}}
  </div>
</article>
{{ end }}
